schema/xsd/ht.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.roommates.teiath.gr/ht/schemas"
    xmlns:ht="http://www.roommates.teiath.gr/ht/schemas"                              
    elementFormDefault="qualified">

       

    <!--restrictions about address field spacing and strlen-->
    <xs:simpleType name="address_restrictions_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about postal_code field spacing and strlen-->
    <xs:simpleType name="postal_code_restrictions_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about bedroom_num field min-max value-->
    <xs:simpleType name="bedroom_num_restrictions_type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about construction year field min-max value-->
    <xs:simpleType name="construction_year_restrictions_type">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:pattern value="([0-9]){4}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about rent period field max value-->
    <xs:simpleType name="rent_period_restrictions_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){0,4}"/>            
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about description field spacing and strlen-->
    <xs:simpleType name="description_restrictions_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <!--type for heating floor field: nested element type, attribute id-->
    <xs:complexType name="heating_floor_elements_type">
        <xs:sequence>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--type for house_type field: nested element type and attribute id-->
    <xs:complexType name="house_type">
        <xs:sequence>
            <xs:element name="type">
                <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="0"/>
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--restrictions about hosting_type field  min-max value-->
    <xs:simpleType name="hosting_restrictions_type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="custom_DateTime_restrictions_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([1-2][0-9][0-9][0-9][-][0-1][0-9][-][0-3][0-9][ ][0-2][0-9][:][0-5][0-9][:][0-5][0-9])"/>
        </xs:restriction>
    </xs:simpleType>

    <!--type for municipality type field: nested element name and attribute id-->
    <xs:complexType name="municipality_elements_type">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:whiteSpace value="preserve"/>
                        <xs:minLength value="0"/>
                        <xs:maxLength value="45"/>
                     </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--type for image_type field: nested element name and attribute id-->
    <xs:complexType name="image_elements_type">
         <xs:sequence>
            <xs:element name="location">
                <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="0"/>
                        <xs:maxLength value="100"/>
                     </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
