schema/xsd/xsd_examples/hcrude.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ht="http://www.roommates.teiath.gr/schemas/HouseTypes"
    targetNamespace="http://www.roommates.teiath.gr/schemas/HouseTypes"
    elementFormDefault="qualified">


    <xs:element name="house" type="ht:house_type"/>


    <xs:complexType name="house_type">
        <xs:sequence>
            <xs:element name="address" type="ht:address_type"/>
            <xs:element name="postal_code" type="ht:postal_code_type"/>
            <xs:element name="area" type="xs:integer"/>
            <xs:element name="bedroom_num" type="ht:bedroom_num_type"/>
            <xs:element name="bathroom_num" type="ht:bedroom_num_type"/>
            <xs:element name="price" type="xs:integer"/>
            <xs:element name="construction_year" type="ht:construction_year_type"/>
            <xs:element name="solar_heater" type="xs:boolean"/>
            <xs:element name="furnitured" type="xs:boolean"/>
            <xs:element name="aircondition" type="xs:boolean"/>
            <xs:element name="garden" type="xs:boolean"/>
            <xs:element name="parking" type="xs:boolean"/>
            <xs:element name="shared_pay" type="xs:boolean"/>
            <xs:element name="security_doors" type="xs:boolean"/>
            <xs:element name="disability_facilities" type="xs:boolean"/>
            <xs:element name="storeroom" type="xs:boolean"/>
            <xs:element name="availability_date" type="xs:date"/>
            <xs:element name="rent_period" type="ht:rent_period_type"/>
            <xs:element name="description" type="ht:description_type"/>
            <xs:element name="floor" type="ht:floor_type"/>
            <xs:element name="house_type" type="ht:type_house_type"/>
            <xs:element name="currently_hosting" type="ht:one_to_nine_type"/>
            <xs:element name="total_places" type="ht:one_to_nine_type"/>
            <xs:element name="municipality" type="ht:municipality_type"/>
            <xs:element name="visible" type="xs:boolean"/>
            <xs:element name="latitude" type="ht:coordinates_type"/>
            <xs:element name="longitude" type="ht:coordinates_type"/>
        </xs:sequence>
        </xs:complexType>
        
    <xs:simpleType name="coordinates_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]*[.][0-9]*){0,1}"/>
        </xs:restriction>
    </xs:simpleType>

     <!--restrictions about address field spacing and strlen-->
    <xs:simpleType name="address_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about postal_code field spacing and strlen-->
    <xs:simpleType name="postal_code_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about bedroom_num field min-max value-->
    <xs:simpleType name="bedroom_num_type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about batroom_num field min-max value plus null value
         inside element-->
    <xs:simpleType name="bathroom_num_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){0,2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about construction year field min-max value-->
    <xs:simpleType name="construction_year_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){0,4}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about rent period field max value-->
    <xs:simpleType name="rent_period_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){0,4}"/>            
        </xs:restriction>
    </xs:simpleType>

    <!--restrictions about description field spacing and strlen-->
    <xs:simpleType name="description_type">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

     <!--type for municipality type field: nested element name and attribute id-->
    <xs:complexType name="heating_type">
        <xs:sequence>
            <xs:element name="type" type="ht:heating_enumerations_type"/>
        </xs:sequence>
    </xs:complexType>

    <!--type for heating field: nested element type, attribute id-->
    <xs:simpleType name="heating_enumerations_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="κεντρική"/>
            <xs:enumeration value="αυτόνομη"/> 
            <xs:enumeration value="δεν διαθέτει"/>
        </xs:restriction>
    </xs:simpleType>


    <!--type for house_type field: nested element type and attribute id-->
    <xs:complexType name="type_house_type">
        <xs:sequence>
            <xs:element name="type" type="ht:house_enumerations_type"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="house_enumerations_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="studio"/>
            <xs:enumeration value="γκαρσονιέρα"/>
            <xs:enumeration value="μονοκατοικία"/>
            <xs:enumeration value="μεζονέτα"/>
        </xs:restriction>
    </xs:simpleType>



    <!--restrictions about hosting_type field  min-max value-->
    <xs:simpleType name="one_to_nine_type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dateTime_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="([1-2][0-9][0-9][0-9][-][0-1][0-9][-][0-3][0-9][ ][0-2][0-9][:][0-5][0-9][:][0-5][0-9])"/>
        </xs:restriction>
    </xs:simpleType>

    <!--type for municipality type field: nested element name and attribute id-->
    <xs:complexType name="municipality_type">
        <xs:sequence>
            <xs:element name="name" type="ht:municipality_enumerations_type"/>
         </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="municipality_enumerations_type">
        <xs:restriction base="xs:string">

            <xs:enumeration value="ΑΓΙΑΣ ΒΑΡΒΑΡΑΣ"/>
            <xs:enumeration value="ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ"/>
            <xs:enumeration value="ΑΓΙΟΥ ΔΗΜΗΤΡΙΟΥ"/>
            <xs:enumeration value="ΑΓΙΩΝ ΑΝΑΡΓΥΡΩΝ - ΚΑΜΑΤΕΡΟΥ"/>
            <xs:enumeration value="ΑΓΚΙΣΤΡΙΟΥ"/>
            <xs:enumeration value="ΑΘΗΝΑΙΩΝ"/>
            <xs:enumeration value="ΑΙΓΑΛΕΩ"/>
            <xs:enumeration value="ΑΙΓΙΝΑΣ"/>
            <xs:enumeration value="ΑΛΙΜΟΥ"/>
            <xs:enumeration value="ΑΜΑΡΟΥΣΙΟΥ"/>
            <xs:enumeration value="ΑΣΠΡΟΠΥΡΓΟΥ"/>
            <xs:enumeration value="ΑΧΑΡΝΩΝ"/>
            <xs:enumeration value="ΒΑΡΗΣ - ΒΟΥΛΑΣ - ΒΟΥΛΙΑΓΜΕΝΗΣ"/>
            <xs:enumeration value="ΒΡΙΛΗΣΣΙΩΝ"/>
            <xs:enumeration value="ΒΥΡΩΝΟΣ"/>
            <xs:enumeration value="ΓΑΛΑΤΣΙΟΥ"/>
            <xs:enumeration value="ΓΛΥΦΑΔΑΣ"/>
            <xs:enumeration value="ΔΑΦΝΗΣ - ΥΜΗΤΤΟΥ"/>
            <xs:enumeration value="ΔΙΟΝΥΣΟΥ"/>
            <xs:enumeration value="ΕΛΕΥΣΙΝΑΣ"/>
            <xs:enumeration value="ΕΛΛΗΝΙΚΟΥ - ΑΡΓΥΡΟΥΠΟΛΗΣ"/>
            <xs:enumeration value="ΖΩΓΡΑΦΟΥ"/>
            <xs:enumeration value="ΗΛΙΟΥΠΟΛΕΩΣ"/>
            <xs:enumeration value="ΗΡΑΚΛΕΙΟΥ"/>
            <xs:enumeration value="ΙΛΙΟΥ (ΝΕΩΝ ΛΙΟΣΙΩΝ)"/>
            <xs:enumeration value="ΚΑΙΣΑΡΙΑΝΗΣ"/>
            <xs:enumeration value="ΚΑΛΛΙΘΕΑΣ"/>
            <xs:enumeration value="ΚΕΡΑΤΣΙΝΙΟΥ - ΔΡΑΠΕΤΣΩΝΑΣ"/>
            <xs:enumeration value="ΚΗΦΙΣΙΑΣ"/>
            <xs:enumeration value="ΚΟΡΥΔΑΛΛΟΥ"/>
            <xs:enumeration value="ΚΡΩΠΙΑΣ"/>
            <xs:enumeration value="ΚΥΘΗΡΩΝ"/>
            <xs:enumeration value="ΛΑΥΡΕΩΤΙΚΗΣ"/>
            <xs:enumeration value="ΛΥΚΟΒΡΥΣΗΣ - ΠΕΥΚΗΣ"/>
            <xs:enumeration value="ΜΑΝΔΡΑΣ - ΕΙΔΥΛΛΙΑΣ"/>
            <xs:enumeration value="ΜΑΡΑΘΩΝΟΣ"/>
            <xs:enumeration value="ΜΑΡΚΟΠΟΥΛΟΥ ΜΕΣΟΓΑΙΑΣ"/>
            <xs:enumeration value="ΜΕΓΑΡΕΩΝ"/>
            <xs:enumeration value="ΜΕΤΑΜΟΡΦΩΣΕΩΣ"/>
            <xs:enumeration value="ΜΟΣΧΑΤΟΥ - ΤΑΥΡΟΥ"/>
            <xs:enumeration value="ΝΕΑΣ ΙΩΝΙΑΣ"/>
            <xs:enumeration value="ΝΕΑΣ ΣΜΥΡΝΗΣ"/>
            <xs:enumeration value="ΝΙΚΑΙΑΣ - ΑΓΙΟΥ ΙΩΑΝΝΗ ΡΕΝΤΗ"/>
            <xs:enumeration value="ΠΑΙΑΝΙΑΣ"/>
            <xs:enumeration value="ΠΑΛΑΙΟΥ ΦΑΛΗΡΟΥ"/>
            <xs:enumeration value="ΠΑΛΛΗΝΗΣ"/>
            <xs:enumeration value="ΠΑΠΑΓΟΥ - ΧΟΛΑΡΓΟΥ"/>
            <xs:enumeration value="ΠΕΙΡΑΙΩΣ"/>
            <xs:enumeration value="ΠΕΝΤΕΛΗΣ"/>
            <xs:enumeration value="ΠΕΡΑΜΑΤΟΣ"/>
            <xs:enumeration value="ΠΕΡΙΣΤΕΡΙΟΥ"/>
            <xs:enumeration value="ΠΕΤΡΟΥΠΟΛΕΩΣ"/>
            <xs:enumeration value="ΠΟΡΟΥ"/>
            <xs:enumeration value="ΡΑΦΗΝΑΣ - ΠΙΚΕΡΜΙΟΥ"/>
            <xs:enumeration value="ΣΑΛΑΜΙΝΑΣ"/>
            <xs:enumeration value="ΣΑΡΩΝΙΚΟΥ"/>
            <xs:enumeration value="ΣΠΑΤΩΝ - ΑΡΤΕΜΙΔΟΣ"/>
            <xs:enumeration value="ΣΠΕΤΣΩΝ"/>
            <xs:enumeration value="ΤΡΟΙΖΗΝΙΑΣ"/>
            <xs:enumeration value="ΥΔΡΑΣ"/>
            <xs:enumeration value="ΦΙΛΑΔΕΛΦΕΙΑΣ - ΧΑΛΚΗΔΟΝΟΣ"/>
            <xs:enumeration value="ΦΙΛΟΘΕΗΣ - ΨΥΧΙΚΟΥ"/>
            <xs:enumeration value="ΦΥΛΗΣ"/>
            <xs:enumeration value="ΧΑΙΔΑΡΙΟΥ"/>
            <xs:enumeration value="ΧΑΛΑΝΔΡΙΟΥ"/>
            <xs:enumeration value="ΩΡΩΠΟΥ"/>   
        </xs:restriction>
    </xs:simpleType>

    <!--type for municipality type field: nested element name and attribute id-->
    <xs:complexType name="floor_type">
        <xs:sequence>
            <xs:element name="type" type="ht:floor_enumerations_type"/>
         </xs:sequence>
    </xs:complexType>

   <xs:simpleType name="floor_enumerations_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="υπόγειο"/>
            <xs:enumeration value="ημιυπόγειο"/>
            <xs:enumeration value="υπερυψωμένο"/>
            <xs:enumeration value="ισόγειο"/>
            <xs:enumeration value="ημιόροφος"/>
            <xs:enumeration value="1ος όροφος"/>
            <xs:enumeration value="2ος όροφος"/>
            <xs:enumeration value="3ος όροφος"/>
            <xs:enumeration value="4ος όροφος"/>
            <xs:enumeration value="5ος όροφος"/>
            <xs:enumeration value="6ος όροφος"/>
            <xs:enumeration value="7ος όροφος"/>
            <xs:enumeration value="8+ όροφος"/>
        </xs:restriction>
    </xs:simpleType>


    <!--type for image_type field: nested element name and attribute id-->
    <xs:complexType name="image_type">
         <xs:sequence>
            <xs:element name="location">
                <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="0"/>
                        <xs:maxLength value="100"/>
                     </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>


